<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Exercise.Exercise_Xpath_TC</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_04_Login_with_Incorrect_Password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_02_Login_with_Invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_03_Login_with_Invalid_Password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_01_Login_with_empty_email_Password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_05_Login_with_valid_Emailpassword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
