<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Exercise_Xpath_TC.beforeClass()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:32</td>   <td>5703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exercise_Xpath_TC.TC_01_Login_with_empty_email_Password()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">TC_01_Login_with_empty_email_Password</td> 
  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:43</td>   <td>16560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exercise_Xpath_TC.TC_02_Login_with_Invalid_email()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">TC_02_Login_with_Invalid_email</td> 
  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:48</td>   <td>22304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exercise_Xpath_TC.TC_03_Login_with_Invalid_Password()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">TC_03_Login_with_Invalid_Password</td> 
  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:54</td>   <td>28157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exercise_Xpath_TC.TC_04_Login_with_Incorrect_Password()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">TC_04_Login_with_Incorrect_Password</td> 
  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:56</td>   <td>30180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exercise_Xpath_TC.TC_05_Login_with_valid_Emailpassword()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">TC_05_Login_with_valid_Emailpassword</td> 
  <td>main@1306854175</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>20/07/13 15:23:58</td>   <td>32201</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Exercise_Xpath_TC.afterClass()[pri:0, instance:Exercise.Exercise_Xpath_TC@3f200884]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1306854175</td>   <td></td> </tr>
</table>
